{{#each items}}
    <li class="course-item border-bottom-1px">
        <span class="week">{{formatWeek skCycle}}</span>
        <span>{{formatDayTime skStartDatetime}}-{{formatDayTime skEndDatetime}}</span>
        <div class="delete" data-code="{{code}}">
            <i class="delete-icon"></i><span>删除</span>
        </div>
        <div class="edit" data-code="{{code}}">
            <i class="edit-icon"></i><span>修改</span>
        </div>
    </li>
{{/each}}
